@model Emsoir.Dominio.Entity.ViewModels.ArticulosViewModelCreate
@using Emsoir.Dominio.Entity
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Response<bool> Respuesta = ViewBag.Respuesta;
}
@{
    if (Respuesta != null)
    {
        if (!Respuesta.IsSuccess)
        {
            <div class="alert alert-danger" role="alert">
                <i class='bx bxs-error-alt'></i> @Respuesta.Mensaje
            </div>
        }
    }



}
<h4>Crear Articulos</h4>


<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                 
                        <input asp-for="Articulo.ArticuloId" class="form-control" hidden />
                    
                    </div>

                    <div class="form-group">
                        <label asp-for="Articulo.Nombre" class="control-label"></label>
                        <input asp-for="Articulo.Nombre" class="form-control" />
                        <span asp-validation-for="Articulo.Nombre" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Articulo.Descripcion" class="control-label"></label>
                        <input asp-for="Articulo.Descripcion" class="form-control" />
                        <span asp-validation-for="Articulo.Descripcion" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Articulo.CategoriaId" class="control-label"></label>

                        <select asp-for="Articulo.CategoriaId" name="CategoriaId" class="form-control">
                            <option value="0">Seleccione una categoria</option>
                            @foreach (var item in Model.ListaCategorias)
                            {
                                <option value="@item.CategoriaId">@item.Descripcion</option>
                            }
                        </select>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @*<label asp-for="Articulo.UrlImagen" class="control-label"></label>*@
                        <div class="col-md-8">

                           
                            <img id="ContenedorImagen" src="~/@Model.Articulo.UrlImagen" class="mx-auto d-block " style="width:220px;height:200px;">
                            <input asp-for="Articulo.UrlImagen" type="file" name="UrlImagen" id="UrlImagen">
                  


                        </div>
                    </div>

                </div>
            </div>

            <div class="form-group">

                <button type="submit" class="btn btn-primary"><i class='bx bxs-save'></i> Actualizar Categoria</button>
                <a asp-action="Index" class="btn btn-danger" >Volver al listado</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/LogicaJS/Articulos.js"></script>
}


