
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <title>Index</title>
  
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>
        <br />
        <div class="container d-flex justify-content-center"  >
            <br />
            <br />
            <div class="card"  style="width: 50%;" >
                <div class="card-body col-sm-8 align-self-center text-center">
                    <form method="post" name="FrmLogin" id="FrmLogin" >
                        <div class="form-group">
                            <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input type="text" class="form-control" name="NombreUsuario" placeholder="Ingrese Nombre" id="NombreUsuario" aria-describedby="sizing-addon1" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-lock"></i></span>
                            <input type="password" name="Password" class="form-control" placeholder="******" aria-describedby="sizing-addon1" required>
                        </div>
                        <br>
                        @*<button class="btn btn-lg btn-primary btn-block btn-signin" id="IngresoLog" type="submit">Entrar</button>*@
                        <input type="submit" value="Ingresar" class="btn btn-primary" />
                        <div class="opcioncontra"><a href="">Olvidaste tu contraseña?</a></div>
                    </form>
                </div>
            </div>
            </div>
            </div>

   
</body>
</html>


<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

<script>
    $(document).ready(function () {
        $("#FrmLogin").submit(function (e) {
        //form.addEventListener("submit", function (e) {
            e.preventDefault();
            const UrlOrigen = "@Url.Content("~/Login/ValidarUsuario")"
            const UrlDestino = "@Url.Content("~/PaginaPrincipal/Index")"
            var form = $("#FrmLogin"); //Identificamos el formulario por su id
            var datos = form.serialize();
            $.ajax({
                type: "POST",
                url: UrlOrigen,
                data: datos,
                success: function (Response) {
                    debugger;
                    var JsonString = JSON.stringify(Response);
                    var objetoJosn = JSON.parse(JsonString);
             
                    debugger;
                    if (objetoJosn.isSuccess){
                        window.location.replace(UrlDestino);
                    } else {
                        alert(objetoJosn.mensaje);
                    }
                },
                error: function (r) {
                    alert("Error del servidor");
                }
            });
        });
    });
</script>
